@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
.menu-contents,
.menu-dropdown,
.menu-top-level,
.search {
    position: relative
}

body,
button,
html,
input {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif
}

div,
h1,
h2,
h3,
h4,
h5,
li,
ol,
p,
pre,
ul {
    line-height: 1.5
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 16px
}

.menu-contents {
    top: -10px;
    right: -10px
}

.important {
    color: red
}

.account-link,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:link,
.btn-primary:visited,
.logo-div a,
.menu-top-level,
a:hover {
    color: #fff
}

.menu-top-level {
    top: 3px
}

.dark-bg {
    background-color: #4e555d
}

.header-row {
    padding-top: 16px
}

.btn,
.button,
button,
input[type=submit] {
    -webkit-appearance: none;
    border-radius: 3px;
    text-align: center;
    display: block;
    max-width: 300px;
    padding: 10px 12px;
    line-height: 1;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin: 0;
    color: #fff;
    font-weight: 400
}

.btn-primary {
    background: #DD3416
}

.post-btn-container {
    padding-left: 10%;
    padding-right: 10%
}

.account-link-sign-up {
    margin-right: 10%
}

input {
    color: #4a4444;
    line-height: 1.6
}

.search .search-field {
    color: #444;
    font-size: 14px;
    padding: 4px 12px;
    line-height: 1.3;
    border-radius: 20px;
    border: 0;
    width: 100%;
    max-width: 250px;
    -webkit-transition: .2s all;
    transition: .2s all;
    -webkit-appearance: textfield;
    background: #fff
}

.white-bg .search .search-field {
    border: 1px solid #ddd
}

.search .search-field:focus {
    outline: 0;
    background: #fff
}

.search .search-field::-webkit-input-placeholder {
    color: currentColor
}

.search .search-field::-moz-placeholder {
    color: currentColor
}

.search.empty .search-field {
    max-width: 260px;
    background: rgba(255, 255, 255, .1);
    color: rgba(255, 255, 255, .6)
}

.search.empty .search-field:focus {
    background: #fff;
    max-width: 250px;
    color: #aaa
}

.primary-nav {
    padding-left: 15px
}

.menu-item {
    margin: 10px 0
}

.menu-item a {
    font-size: 14px
}

.menu-item:first-child {
    margin-top: 0
}

.menu-item:last-child {
    margin-bottom: 0
}

.menu-items-toggle {
    display: none
}

.menu-label {
    display: block;
    font-weight: 700;
    cursor: pointer
}

.menu-description {
    display: block;
    font-weight: 400;
    font-size: 12px;
    margin-top: 2px;
    color: #a4a9ab
}

.item-admin .menu-label:after {
    content: "[A]";
    font-size: 10px;
    color: #DD3416;
    display: inline-block;
    margin-left: 3px
}

.dark-bg .item-active,
.medium-dark-bg .item-active {
    background: rgba(255, 255, 255, .1)
}

.light-bg .item-active,
.medium-light-bg .item-active,
white-bg .item-active {
    background: rgba(0, 0, 0, .1)
}

.item-active.item-never-active {
    background: 0 0
}

.menu-top-label {
    cursor: pointer
}

.menu-child-items,
.menu-collapsible .menu-wrapper {
    padding-left: 10px;
    border-left: 5px solid rgba(0, 0, 0, .1);
    margin: 10px 0 10px 6px
}

.dark-bg .menu-child-items,
.dark-bg .menu-collapsible .menu-wrapper,
.medium-dark-bg .menu-child-items,
.medium-dark-bg .menu-collapsible .menu-wrapper {
    border-color: rgba(255, 255, 255, .1)
}

.light-bg .menu-child-items,
.light-bg .menu-collapsible .menu-wrapper,
.menu-dropdown .menu-child-items,
.menu-dropdown .menu-collapsible .menu-wrapper {
    border-color: rgba(0, 0, 0, .1)
}

.menu-no-items .menu-top-level-link {
    pointer-events: none
}

.menu-list .show-more,
.menu-no-items .menu-top-level-link .menu-items-toggle {
    display: none
}

.menu-list .item-active {
    background: rgba(0, 0, 0, .05)
}

.menu-dropdown {
    text-align: left
}

.menu-dropdown.menu-has-items .menu-top-level {
    cursor: pointer
}

.menu-dropdown.menu-has-items .menu-top-level .menu-top-level-link {
    font-weight: 400
}

.menu-dropdown.menu-has-items:hover .menu-wrapper {
    display: block
}

.menu-dropdown .menu-wrapper {
    display: none;
    top: 10px;
    left: 10px;
    position: absolute;
    padding-top: 20px;
    z-index: 10000
}

.menu-dropdown .menu-wrapper,
.menu-dropdown .menu-wrapper a,
.menu-dropdown .menu-wrapper a:link,
.menu-dropdown .menu-wrapper a:visited {
    color: #444
}

.menu-dropdown .menu-wrapper a.button,
.menu-top-level-label {
    color: #fff
}

.menu-dropdown .menu-wrapper .menu-contents {
    background: #fff;
    padding: 10px;
    overflow: hidden;
    min-width: 180px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .35);
    list-style-type: none
}

.menu-dropdown .show-more {
    display: none
}

.menu-collapsible .menu-top-level-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.menu-collapsible .menu-top-level-link>span {
    display: block
}

.menu-collapsible .menu-wrapper {
    display: none
}

.menu-collapsible .menu-item-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.menu-collapsible .icon-expand,
.menu-collapsible .menu-sub-level {
    display: block
}

.menu-collapsible .menu-items-toggle {
    display: block;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, .3)
}

.menu-collapsible .menu-items-toggle:hover {
    background: rgba(255, 255, 255, .1)
}

.menu-collapsible .icon-collapse,
.menu-collapsible .menu-child-items {
    display: none
}

.menu-expanded .menu-wrapper {
    display: block
}

.menu-expanded>.menu-item-wrapper .icon-expand,
.menu-expanded>.menu-top-level .icon-expand {
    display: none
}

.menu-expanded>.menu-child-items,
.menu-expanded>.menu-item-wrapper .icon-collapse,
.menu-expanded>.menu-top-level .icon-collapse {
    display: block
}

.menu-always-expanded .menu-wrapper {
    display: block;
    padding-left: 0;
    border: none
}

.menu-always-expanded .menu-top-level-link .menu-items-toggle {
    display: none
}